/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-size: 150%;
}

.carousel {
  padding-top: 20px;
}

.bg-primary {
  background-color: #2e8cbc !important;
}

.border-primary {
  background-color: #2e8cbc !important;
}

.mge-primary {
  background-color: #2e8cbc;
}

.navbar {
  margin: 0;
  min-height: 64px;
}

.sidebar {
  padding: 0;
  background-color: whitesmoke;
}

.row {
  margin: 0;
}

.logo {
  padding: 0;
  margin: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: #e5e5e5;
}

.container {
  padding: 0;
  background-color: white;
}

.fill {
  min-height: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  min-height: 100%;
  background-color: cornflowerblue;
}

.content {
  padding: 25px;
  background-color: white;
}

.full-height {
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  height: 60px;
  line-height: 60px;
}

blockquote {
  margin-left: 30px;
  font-style: italic;
}

img {
  max-width: 100%;
}
